<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Stripe Test</title>
    <!--Bootstrap/Jquery Link Here-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>
<body>
<!--Wrapper-->
<div class="wrapper">

    <!--Navigation Here-->
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <ul class="nav navbar-nav">
                <li role="presentation" class=" active"><a href="#card_info" role="tab" data-toggle="tab">Card Info</a>
                </li>
                <li role="presentation"><a href="#admin" role="tab" data-toggle="tab">Admin</a></li>
            </ul>
        </div>
    </nav>

    <!--Main Container-->
    <div class="container">
        <div class="tab-content">
            <!--Card Info Here-->
            <div class="tab-pane fade in active" id="card_info">
                <h1>Card Info</h1>
                <!--form here-->
                <form class="form-horizontal" method="post" action="/index" id="form_card">
                    <div class="form-group">
                        <label class="control-label col-sm-2" for="company_name">Company Name</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" name="company_name" id="company_name"
                                   placeholder="Company Name"
                                   required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-2" for="name">Name:</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" name="name" id="name" placeholder="Enter name"
                                   required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-2" for="number">Number:</label>
                        <div class="col-sm-10">
                            <input type="number" class="form-control" name="number" id="number"
                                   placeholder="Enter number" required>
                        </div>
                    </div>
                    <!--<div class="form-group">-->
                    <!--<label class="control-label col-sm-2" for="email">Email</label>-->
                    <!--<div class="col-sm-10">-->
                    <!--<input type="email" class="form-control" name="email" id="email" placeholder="Email"-->
                    <!--required>-->
                    <!--</div>-->
                    <!--</div>-->

                    <!--<div class="form-group">-->
                    <!--<label class="control-label col-sm-2" for="card_number">Credit Card Number</label>-->
                    <!--<div class="col-sm-10">-->
                    <!--<input type="number" class="form-control" data-stripe="number" name="card_number"-->
                    <!--id="card_number" placeholder="credit card number"-->
                    <!--required>-->
                    <!--</div>-->
                    <!--</div>-->

                    <!--<div class="form-group">-->
                    <!--<label class="control-label col-sm-2" for="cvc">CVC</label>-->
                    <!--<div class="col-sm-10">-->
                    <!--<input type="number" class="form-control" data-stripe="cvc" name="cvc" id="cvc"-->
                    <!--placeholder="CVC"-->
                    <!--required>-->
                    <!--</div>-->
                    <!--</div>-->

                    <!--<div class="form-group">-->
                    <!--<label class="control-label col-sm-2" for="month">Expire Month</label>-->
                    <!--<div class="col-sm-10">-->
                    <!--<input type="number" class="form-control" name="month" data-stripe="exp-month" id="month"-->
                    <!--placeholder="MM"-->
                    <!--required>-->
                    <!--</div>-->
                    <!--</div>-->
                    <!--<div class="form-group">-->
                    <!--<label class="control-label col-sm-2" for="year">Expire Year</label>-->
                    <!--<div class="col-sm-10">-->
                    <!--<input type="number" class="form-control" name="year" data-stripe="exp-year" id="year"-->
                    <!--placeholder="YY"-->
                    <!--required>-->
                    <!--</div>-->
                    <!--</div>-->

                    <!--<div class="form-group">-->
                    <!--<div class="col-sm-offset-2 col-sm-10">-->
                    <!--<input type="submit" value="submit" id="btn_card_info" class="btn btn-default"/>-->
                    <!--</div>-->
                    <!--</div>-->
                    
                </form>
            </div>

            <!--Add New Event Here-->
            <div class="tab-pane fade" id="admin">
                <h1>Admin</h1>
                <h3>Pending Payment Approval</h3>
                <div id="customer_table"></div>
            </div>
        </div>
    </div>

</div>

</body>
</html>
